/* Header */
  .header {
    width: 70%;
    height: 100px;
    margin-left: 500px;
    margin-bottom: 20px;
  }
  
  .innerHeader {
    width: 70%;
    /* This is the inner width of the content inside of your header (80%, etc) */
    height: 10%;
    display: block;
    margin: 5px;

  }
  
  .logoContainer {
    display: table;
    height: 100%;
    float: left;
  }
  
  .logoContainer h1{
    color: #696969;
    height: 100%;
    display: table-cell;
    font-size: 32px;
    font-weight: bold;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .navigation {
    float: right;
    height: 100%;
  }
  
  .navigation a{
    text-decoration: none;
    display: block;
    position: relative;
    color: black;
    padding:.3em 0;
  }
  
  .navigation li{
    display: inline-block;
    margin: 0 0.5em;
    height: 100%;
    padding: 30px;
    color: white;
    font-size: 20px;
  }
  
  
  .navigation a:hover {
    color: #c69f73;
  }
  
  .navigation a:hover:before {
    left: 0;
    width: 100%;
  }
  .navigation a:before {
    content: "";
    position: absolute;
    width: 0;
    height: .5px;
    background-color: #c69f73;
    bottom: calc(-1px);
    right: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .m-5{
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    
  }
  