{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>Gallery</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .image-thumbnail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
        .list-group-item a:hover {
            color: #4169e1;
       
        }

        .row h3 {
            margin-left: 50px;
            color: white;
        }

        .navigation a:hover {
            color: #a4dded;
        }

    </style>

</head>

<body>
    <!-- Start of the header -->
    <header>
        <div class="header">
            <div class="innerHeader">
                <div class="logoContainer">
                    <div>
                        <h1>A Pic Of Life</h1>
                    </div>
                </div>

                <ul class="navigation">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>

                </ul>
            </div>
        </div>
    </header>

    <div class="pic">


        <div class="container">
            <div class="row">
                {% if request.user.is_authenticated %}
                <h3>Hello, {{request.user}}</h3>
                {% endif %}
                <div class="col-md-3">

                    <div class="card">
                        <img class="card-img-top"
                            src="https://i.kym-cdn.com/entries/icons/facebook/000/034/772/Untitled-1.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">About:</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>

                        <div class="card-header">
                            Categories
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'gallery' %}">All</a>
                            </li>
                            {% for category in categories %}
                            <li class="list-group-item">
                                <a href="{% url 'gallery' %}?category={{category.name}}">
                                    {{category.name}}
                                </a>

                            </li>
                            {% endfor %}
                            
                            <li class="list-group-item">
                                <a href="{% url 'add' %}" class="btn btn-outline-info btn-sm mx-4 my-2 p-2">Add Photos</a>
                                
                                
                                <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm mx-4 my-2 p-2">Logout</a>
                                
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-9">
                    <div class="row">
                        {% for photo in photos %}
                        <div class="col-md-4">
                            <div class="card my-2">
                                <img class="image-thumbnail" src="{{photo.image.url}}" alt="Card image cap">

                                <div class="card-body">
                                    <div class="text-center">
                                        <medium><strong>Title: {{photo.title}}</medium></strong><br>
                                        <medium><strong>Category: {{photo.category.name}}</medium></strong>
                                    </div>
                                    <form class='deleteForm' method='POST' action='/delete/{{photo.id}}'>
                                        {% csrf_token %}
                                        <div class="text-center">
                                            <a href="{% url 'photo' photo.id %}"
                                                class="btn btn-outline-secondary btn-sm m-1">View</a>
                                            OR
                                            <button type="submit" class='btn btn-outline-danger btn-sm m-1'
                                                onclick="return confirm('Are you sure you want to delete the photo?');">DEL</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h3>No photos...</h3>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    </div>



    <!-- Copyrights -->
    <footer>
        <div class="bg-light py-4">
            <div class="container text-center">
                <p class="text-muted mb-0 py-2">© 2022 Steven Le. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- End -->
</body>

</html>