{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    
    
    
    <title>Login/Regiser</title>
</head>

<body>
    <!-- Start of the header -->
    <nav>
        <div class="logo">
            <img src="logo.svg" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Solutions</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><button class="login-button" href="#">Login</button></li>
            <li><button class="join-button" href="#">Join</button></li>
        </ul>
    </nav>
    <script src="{% static 'js/header.js' %}"></script> 
    <div class="box">
        
        <img src="https://res.cloudinary.com/dsvkkg1a8/image/upload/v1659054547/images/personal_y8ftn3.jpg" alt="profile pic"
            class="box-img">
        <h1>Steven Le</h1>
        <br>
        <h5>IT/Software Developer</h5>
        <br>
        <p>
            Hello, My name is Steven and I aspire to work in either IT or in software development.
            I have a strong passion in learning new things and helping people. Technology is 
            always advancing and has an enormous impact on people. This aligns with my visions and
            I hope to grow and learn throughout my journey in tech. 

        </p>

        <ul>
            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-share-alt-square" aria-hidden="true"></i></a></li>
        </ul>
        <script src="{% static 'js/header.js' %}"></script> 

    </div>


    <!-- Copyrights -->
    <footer>
        <div class="bg-light py-4">
            <div class="container text-center">
                <p class="text-muted mb-0 py-2">© 2022 Steven Le. All rights reserved.</p>
            </div>
        </div>
    </footer>
        <!-- End -->
</body>
</html>